@use '../abstracts/_variables' as *;
.btn-red{
    color: #fff;
    background-color: $link-volor;
    text-transform: uppercase;
}

.btn{
    padding: 15px; 
}

.txtred{
    color: $link-volor;
}

.object-live{
    display: inline-block;
    margin: 15px 0;
    padding: 0 5px;
    font-size: 15px;
}